
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: Helvetica, sans-serif;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}

.timeline::after {
  content: '';
  position: absolute;
  height:6px;
  width: 100%;
  background-color: rgb(93, 83, 179);
  top: 50px;
}

/* .container {
  padding: 70px 20px 20px 20px;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  width: 25%;
  text-align: center;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 38px;
  left:50%;
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: 1;
} */


.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .timeline::after {
  left: 31px;
  }
  
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
  left: 15px;
  }
  
  .right {
  left: 0%;
  }
}

.top-nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(26, 64, 146);
    z-index: 1000;
}

.top-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.top-nav li a {
    display: block;
    height: 50px;
    padding: 0 10px;
    background-color: rgba(140, 175, 207, 0.658);
    color: rgb(44, 42, 119);
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    margin: 5px;
    border-radius: 2px;
    transition: background-color 0.3s;
}

.top-nav li a:hover {
    background-color: rgb(52, 96, 138);
}

.top-nav li a.active {
    background-color: rgb(52, 96, 138);
}