.content {
    background-color: rgba(163, 182, 223, 0.541);
    color: rgb(16, 14, 122);
    border: 2px solid rgb(140, 175, 207);
    margin: 20px;
    padding: 20px;
    font-size: 20px;
}

.left {
    width:150px;
    float:left;
    height:300px;
}

.right {
    float:right;
    width:200px;
    height:300px;
}

.title {
    background-color: rgba(82, 79, 233, 0.507);
    color: rgba(12, 11, 85, 0.856);
    border: 0px solid rgb(89, 143, 72);
    margin: 50px;
    padding: 5px;
    text-align: center;
    font-size: 100px;
}

body {
    background-color:aliceblue;
    margin: 10;
    padding-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.top-nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(26, 64, 146);
    z-index: 1000;
}

.top-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.top-nav li a {
    display: block;
    height: 50px;
    padding: 0 10px;
    background-color: rgba(140, 175, 207, 0.658);
    color: rgb(44, 42, 119);
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    margin: 5px;
    border-radius: 2px;
    transition: background-color 0.3s;
}

.top-nav li a:hover {
    background-color: rgb(52, 96, 138);
}

.top-nav li a.active {
    background-color: rgb(52, 96, 138);
}

section {
    height: 100vh;
    padding: 20px;
}

.subtitle {
    background-color: rgba(40, 49, 168, 0.473);
    color: rgb(68, 153, 156);
    border: 2px solid rgba(94, 103, 156, 0.712);
    margin: 20px;
    padding: 20px;
    font-size: 40px;
    text-align: center;
}

.color_key {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(140, 175, 207);
    z-index: 1000;
}

.box {
    width: 40px;
    height: 40px;
    border: 2px rgb(0, 0, 0);
}

.blue:hover {
    background-color: rgb(108, 108, 192);
}

.purple:hover {
    background-color: rgb(212, 142, 233);
}

.red:hover {
    background-color: rgb(202, 91, 91);
}

.green:hover {
    background-color: rgb(89, 221, 72);
}

.yellow:hover {
    background-color: rgb(252, 236, 16);
}

.orange:hover {
    background-color: rgb(243, 153, 70);
}

.brown:hover {
    background-color: rgba(185, 152, 59, 0.822);
}

table {
    border-collapse: collapse;
}

td, th {
    border:1px solid black;
    padding: 6px;
    font:50px;
    background:rgb(173, 206, 216);
}

* {
  box-sizing: border-box;
}

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}